@page "/assessment/add-edit/{AssessmentId?}"

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Large">

    <MudItem xs="12">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="OnSaveAssessmentAsync" Disabled="(string.IsNullOrWhiteSpace(value1) || IsLoading)">Save</MudButton>
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Default" OnClick="OnNavigateBackAsync" Disabled="false">Back</MudButton>
            </div>
            @if (!Model.IsLive)
            {
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Info" OnClick="OnSendForReviewAsync" Disabled="(Questions.Count < 10)">Send for review</MudButton>
            }
        </div>
    </MudItem>

    <MudItem xs="12" Class="mt-2">
        <MudTextField Label="Assessment" @bind-Value=Model.Name></MudTextField>
    </MudItem>

    <MudItem xs="12" Class="mt-2">

        <MudText Typo="Typo.caption">Choose the industry Type </MudText>

        <MudAutocomplete T="string" Label="Industries" @bind-Value="value1" SearchFunc="@Search"
                         ResetValueOnEmptyText="true"
                         TextChanged="(e) => OnIndustryTypeChange(e)"
                         AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
    </MudItem>

    @if (string.IsNullOrWhiteSpace(value1))
    {
        <MudItem xs="12">
            Please choose the industry type to continue
        </MudItem>
    }
    else
    {
        <MudItem xs="12" Class="mt-8">
            <MudGrid Spacing="20" Justify="Justify.Center">
                <MudItem>
                    <MudBadge Content="WhoWeAreQuestionCount" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                        <MudButton OnClick="() => OnSectionClickAsync(SectionName.WhoWeAre)">
                            <MudPaper Height="140px" Width="140px" Elevation="2" Class="d-flex align-items-center p-2">
                                <MudText Typo="Typo.h5">Who we are</MudText>
                            </MudPaper>
                        </MudButton>
                    </MudBadge>
                </MudItem>
                <MudItem>
                    <MudBadge Content="WhatWeDoQuestionCount" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                        <MudButton OnClick="() => OnSectionClickAsync(SectionName.WhatWeDo)">
                            <MudPaper Height="140px" Width="140px" Elevation="2" Class="d-flex align-items-center justify-content-center p-2">
                                <MudText Typo="Typo.h5">What we do</MudText>
                            </MudPaper>
                        </MudButton>
                    </MudBadge>
                </MudItem>
                <MudItem>
                    <MudBadge Content="HowWeDoItQuestionCount" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                        <MudButton OnClick="() => OnSectionClickAsync(SectionName.HowWeDoIt)">
                            <MudPaper Height="140px" Width="140px" Elevation="2" Class="d-flex align-items-center justify-content-center p-2">
                                <MudText Typo="Typo.h5">How we do it</MudText>
                            </MudPaper>
                        </MudButton>
                    </MudBadge>
                </MudItem>
            </MudGrid>

        </MudItem>
    }
</MudContainer>